.NewThread {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  top: 1rem;
  padding: 2rem;
}

.NewThreadForm {
  display: flex;

  flex-direction: column;
  row-gap: 1rem;
  /* background-color: lightblue; */
  width: 100%;
  max-width: 600px;

  label {
    display: block;
    padding: 1rem;
    width: 100%;
    max-width: 500px;
  }

  input {
    display: block;
    width: 100%;
    max-width: 500px;
    background-color: var(--black-20);
    padding: 0.5rem;
    outline: none;
  }
}

.FormRow {
  display: flex;
}

.SelectWrapper {
}

.CategoryDropdownOption {
}

.CategoryDropdown {
  background-color: var(--black-20);
  padding: 0.5rem;
  width: 100%;
  max-width: 300px;

  /* &:focus::-ms-value {
    background-color: transparent;
  } */
}
