
.dashboard {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #2f3136;
    color: white;
   
    display: grid;
    grid-template-rows: auto auto auto;
}

.sidebar-tile {
background-color: green;
padding: 20px;
span{
    display:block;
}

}

/* Content Bereich */
.content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Kategorie- und Thread-Elemente */
.category-list div, .thread-list div, .direct-messages div {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.category-list div:hover, .thread-list div:hover, .direct-messages div:hover {
    background-color: #444;
}

.message-list {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.message-item {
    padding: 8px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
