.section {
  display: block;
  /* min-height: 50vh; */
  margin: 4rem auto;
  width: 100%;
}

.container {
  position: relative;
  display: inline-block;
  flex-direction: column;
  padding: 2rem;
  background-color: whitesmoke;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 2rem;
  box-shadow: 8px 8px 16px var(--black-40);
}

.headline {
  display: block;
  font-size: 2rem;
  background-image: var(--bg-colorfull-half);
  color: rgba(0, 0, 0, 0.5);
  background-clip: text;
}

.dataContainer {
  position: relative;
  width: 100%;
  display: inline-block;
  flex-direction: column;
  padding: 2rem;
  background-color: whitesmoke;
  /* font-weight: bold; */
  letter-spacing: 1px;
  border-radius: 2rem;
  box-shadow: 8px 8px 16px var(--black-40);
}

.data {
  input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: lightgray;
    border: 1px darkgray solid;
    &:disabled {
      user-select: none;
    }
  }
}

.datarow {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
}

.datacontrol {
  display: flex;

  justify-content: center;
  button {
    padding: 0.5rem 1rem;
  }
}

.errorcontainer {
  background-color: rosybrown;
}

.AddressList {
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    padding: 0.5rem 1rem 0.5rem 2rem;

    &::before {
      position: absolute;
      display: block;
      content: "⌂";
      top: 0;
      bottom: 0;
      left: 0.25rem;

      height: 2rem;
      font-size: 2rem;
      color: lightblue;
    }

    span {
      width: 100%;
    }
  }
  button {
    margin-top: 0.5rem;
  }
}

.SaveAddress {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 2rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    rgba(0, 150, 210, 0.5),
    rgba(0, 150, 180, 0.5),
    rgba(0, 150, 150, 0.5),
    rgba(0, 150, 120, 0.5),
    rgba(30, 150, 90, 0.5),
    rgba(60, 150, 60, 0.5),
    rgba(90, 150, 30, 0.5),
    rgba(120, 150, 0, 0.5),
    rgba(90, 150, 30, 0.5),
    rgba(60, 150, 60, 0.5),
    rgba(30, 150, 90, 0.5),
    rgba(0, 150, 120, 0.5),
    rgba(0, 150, 150, 0.5),
    rgba(0, 150, 180, 0.5),
    rgba(0, 150, 210, 0.5)
  );

  overflow: scroll;
  z-index: 50;
}

.FormFrame {
  padding: 2rem;
  max-width: 600px;
  width: 100%;
  flex-direction: column;
  /* background-color: pink; */
  background-color: whitesmoke;
  padding: 2rem;
  letter-spacing: 1px;
  border-radius: 2rem;
  box-shadow: 8px 8px 16px var(--black-40);
  h2 {
    padding: 2rem 0;
    text-align: left;
  }
}

.FormContainer {
  display: flex;
  flex-direction: column;

  span {
    display: block;
    padding: 0.4rem;
    user-select: none;
  }

  input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: lightgray;
    border: 1px darkgray solid;
  }

  input:active,
  input:focus {
    outline: none;
  }
}

.FormControl {
  display: flex;
  gap: 2rem;

  button {
    margin-top: 1rem;
  }
}
