.YesNoDialog {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 51;

  background-image: linear-gradient(
    rgba(0, 150, 210, 0.8),
    rgba(0, 150, 180, 0.8),
    rgba(0, 150, 150, 0.8),
    rgba(0, 150, 120, 0.8),
    rgba(0, 150, 120, 0.8),
    rgba(0, 150, 150, 0.8),
    rgba(0, 150, 180, 0.8),
    rgba(0, 150, 210, 0.8)
  );
}

.DialogContainer {
  background-color: whitesmoke;
  padding: 4rem;
  border-radius: 4rem;
  box-shadow: 8px 8px 16px lightgray;
}

.DialogTitle {
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}

.DialogText {
  padding: 1rem;
}

.DialogControl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
