* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  color: #253645;
}

a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
}

body {
  grid-template-areas:
    "Header Header Header"
    "Menu Menu Menu"
    ". Content ."
    "Footer Footer Footer";
  width: 100vw;
  min-height: 100vh;
  /* background-color: var(--blue-40); */
  background-image: var(--bg-colorfull-full);
}

header {
  grid-area: Header;

  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(245, 245, 245, 0.8);
}

menu {
  grid-area: Menu;
}

main {
  grid-area: Content;

  margin: 0 auto;

  /* Tablet (768px bis 1023px) */
  @media screen and (min-width: 1024px) {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 1rem;
  }

  /* Tablet (768px bis 1023px) */
  @media screen and (max-width: 1023px) {
    font-size: 16px;
    max-width: 700px;
    width: 100%;
    background-color: lightblue;
  }

  /* Mobile (bis 767px) */
  @media screen and (max-width: 767px) {
    font-size: 12px;
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    background-color: lightgreen;
  }
}

footer {
  grid-area: Footer;
  width: 100%;
  padding: 1rem;
  margin: 0;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}

.text-center {
  text-align: center;
}
