:root {
  --blue-100: rgba(170, 210, 230, 1);
  --blue-80: rgba(170, 210, 230, 0.8);
  --blue-60: rgba(170, 210, 230, 0.6);
  --blue-50: rgba(170, 210, 230, 0.5);
  --blue-40: rgba(170, 210, 230, 0.4);
  --blue-20: rgba(170, 210, 230, 0.2);
  --blue-00: rgba(170, 210, 230, 0);

  --black-100: rgba(0, 0, 0, 1);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-00: rgba(0, 0, 0, 0);

  --bg-colorfull-full: linear-gradient(
    rgba(0, 150, 210, 0.5),
    rgba(0, 150, 180, 0.5),
    rgba(0, 150, 150, 0.5),
    rgba(0, 150, 120, 0.5),
    rgba(30, 150, 90, 0.5),
    rgba(60, 150, 60, 0.5),
    rgba(90, 150, 30, 0.5),
    rgba(120, 150, 0, 0.5),
    rgba(90, 150, 30, 0.5),
    rgba(60, 150, 60, 0.5),
    rgba(30, 150, 90, 0.5),
    rgba(0, 150, 120, 0.5),
    rgba(0, 150, 150, 0.5),
    rgba(0, 150, 180, 0.5),
    rgba(0, 150, 210, 0.5)
  );

  --bg-colorfull-half: linear-gradient(
    rgba(0, 150, 210, 0.8),
    rgba(0, 150, 180, 0.8),
    rgba(0, 150, 150, 0.8),
    rgba(0, 150, 120, 0.8),
    rgba(0, 150, 120, 0.8),
    rgba(0, 150, 150, 0.8),
    rgba(0, 150, 180, 0.8),
    rgba(0, 150, 210, 0.8)
  );
}
