:root {
  --blue-100: rgba(170, 210, 230, 1);
  --blue-80: rgba(170, 210, 230, 0.8);
  --blue-60: rgba(170, 210, 230, 0.6);
  --blue-50: rgba(170, 210, 230, 0.5);
  --blue-40: rgba(170, 210, 230, 0.4);
  --blue-20: rgba(170, 210, 230, 0.2);
  --blue-00: rgba(170, 210, 230, 0);

  --black-100: rgba(0, 0, 0, 1);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-00: rgba(0, 0, 0, 0);
}
