:root {
  --bg-100: rgba(170, 210, 230, 1);
  --bg-80: rgba(170, 210, 230, 0.8);
  --bg-60: rgba(170, 210, 230, 0.6);
  --bg-50: rgba(170, 210, 230, 0.5);
  --bg-40: rgba(170, 210, 230, 0.4);
  --bg-20: rgba(170, 210, 230, 0.2);
  --bg-00: rgba(170, 210, 230, 0);
}
