.Forum {
  display: flex;

  background-color: whitesmoke;
  padding: 1rem;
  margin: 2rem auto 0 auto;
  border-radius: 2rem;

  max-width: 90%;
  max-height: 600px;
  overflow: scroll;

  box-shadow: 8px 8px 16px var(--black-40);
}
