.Forum {
  display: flex;
  max-width: 90%;
  margin: 4rem auto 0 auto;
  background-color: whitesmoke;
  padding: 0 1rem 0 0;
  border-radius: 4rem;
  overflow: hidden;
  min-height: 50vh;

  box-shadow: 8px 8px 16px var(--black-40);
}
