.ContentContainer {
  position: relative;
  display: grid;
  padding: 1rem;
  width: 100%;
  
  /* background-color: green; */
}

.ContentHeadLine {
  display: block;
  /* background-color: green; */
  width: 100%;

}

.Content {
  position: relative;
  height: 100%;
  display: block;
  
  padding: 1rem;
}
