.ContentContainer {
  position: relative;
  width: 100%;
  /* background-color: green; */
}

.Content {
}

.ContentHeadLine {
  display: block;
  /* background-color: green; */
  padding: 1rem;
  width: 100%;
}


