.NavContainer {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.NavTitle {
  width: 100%;
  max-width: 400px;
  a {
    display: flex;
    align-items: center;
  }

  img {
    display: block;
    margin-right: 1rem;
    height: 4rem;
    object-fit: fill;
  }

  span {
    font-size: 2rem;
    letter-spacing: 2px;
    display: block;
  }
}

.NavLinks {
  width: 100%;

  ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-evenly; */
    justify-content: space-around;
    align-items: center;
  }

  li {
    position: relative;
    border-radius: 1rem;

    &:after {
      position: absolute;
      content: "";
      height: 0.2rem;
      bottom: 0.5rem;
      left: 0;
      right: 0;
      z-index: 10;
      background-color: transparent;
      transition: all 0.3s ease-in;
    }

    &.profil:hover:after {
      background-color: transparent;
    }

    &:hover:after {
      background-color: rgba(0, 0, 0, 0.5);
    }

    a {
      display: block;
      padding: 1rem;
      transition: all 0.3s;

      &.profil-icon {
        font-size: 5rem;
        background-color: rgb(173, 216, 230, 0.5);
        transition: all 0.3s;
        border-radius: 10rem;
      }

      &.profil-icon:hover {
        font-size: 5rem;
        background-color: rgb(173, 216, 230, 1);
      }
    }
  }
}
