.hidden {
  display: none;
}

.flex {
  display: flex;
}

.site-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 4rem auto;
}

header {
  display: block;
  width: 100%;
  margin-bottom: 4rem;
}

.MenuContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: green;
  z-index: 50;

  menu {
    padding: 1rem;
    h2 {
    }
  }

  nav {
  }

  ul {
    list-style: none;
  }

  li {
    padding: 0.5rem;
  }

  a {
    display: block;
    padding: 1rem;
    transition: 0.3s all;

    &:hover {
      background-color: var(--bg-60);
    }
  }
}

.NavContainer {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.NavTitle {
  width: 100%;
  max-width: 400px;
  a {
    display: flex;
    align-items: center;
  }

  img {
    display: block;
    margin-right: 1rem;
    height: 4rem;
    object-fit: fill;
  }

  span {
    font-size: 2rem;
    letter-spacing: 2px;
    display: block;
  }
}

.NavLinks {
  width: 100%;

  ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-evenly; */
    justify-content: space-around;
    align-items: center;
  }

  li {
    position: relative;
    border-radius: 1rem;

    &:after {
      position: absolute;
      content: "";
      height: 0.2rem;
      bottom: 0.5rem;
      left: 0;
      right: 0;
      z-index: 10;
      background-color: transparent;
      transition: all 0.3s ease-in;
    }

    &.profil:hover:after {
      background-color: transparent;
    }

    &:hover:after {
      background-color: rgba(0, 0, 0, 0.5);
    }

    a {
      display: block;
      padding: 1rem;
      transition: all 0.3s;

      &.profil-icon {
        font-size: 5rem;
        background-color: rgb(173, 216, 230, 0.5);
        transition: all 0.3s;
        border-radius: 10rem;
      }

      &.profil-icon:hover {
        font-size: 5rem;
        background-color: rgb(173, 216, 230, 1);
      }
    }
  }
}

main {
  margin-bottom: 5rem;

  section {
    position: relative;
    margin: 2rem 0 2rem 0;
    min-height: 50vh;
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;

    h2 {
      padding: 2rem 0 1rem 0;
    }

    &:nth-child(even) {
    }

    &:nth-child(odd) {
      background-color: rgb(173, 216, 230, 0.5);
    }

    .section-content {
      display: flex;
      gap: 2rem;
    }

    .section-content-text {
      width: 50%;
      line-height: 1.5rem;
      text-align: justify;
      padding: 0 2rem 0 2rem;
      word-wrap: break-word;
    }

    .section-content-image {
      width: 50%;

      img {
        border-radius: 1rem;
        width: 100%;
        box-shadow: 8px 8px 16px black;
      }
    }
  }
}

.UserProfil {
  form {
    max-width: 1000px;
    margin: 0 auto;

    .figureContent {
      figure {
        display: block;
        position: relative;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        max-width: 200px;
        margin: 0 auto;

        img {
          display: block;
          width: 100%;
          height: 200px;
          margin: 0 auto;
          border-radius: 100rem;
          background-color: whitesmoke;
        }

        figcaption {
          position: absolute;
          left: 0;
          right: 0;
          bottom: -2rem;
          height: 1.6rem;
          text-align: center;
          padding: 0.2rem;

          transition: all 0.3s;
        }

        &:hover figcaption {
          bottom: 0;
        }
      }

      button {
        display: block;
        max-width: 400px;
        padding: 1rem;
        margin: 1rem auto;
      }
    }

    p {
      display: flex;
      flex-direction: row;
      padding: 0.5rem;
      width: 100%;
      gap: 2rem;

      span {
        width: 40%;
        display: block;
        padding: 1rem;
      }

      label {
        width: 40%;
        padding: 1rem;
      }

      input {
        width: 60%;
        padding: 1rem;
        background-color: whitesmoke;
      }

      a {
        width: 60%;
        border: 1px solid black;
        border-radius: 1rem;
        text-align: center;
        padding: 1rem;
        box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
        &:hover {
          background-color: rgb(173, 216, 230, 1);
          box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}
