.addressItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s all;
  margin-right: 1rem;

  &:hover {
    background-color: lightblue;
  }

  row-gap: 0.5rem;
}

.addressItemContent {
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid transparent;
}

.addressItemControl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  button {
    display: block;
    background-color: var(--bg-50);
    border-radius: 0;
    padding: 0.5rem;
    transition: 0.3s all;
    &:hover {
      background-color: var(--bg-80);
    }
  }
}

.removeUserLocation {
  cursor: pointer;
  transition: 0.3s all;
  border: 1px transparent;

  &:hover {
    border: 1px solid black;
  }
}
