.Tiles {
  ul {
    padding: 0;

    li {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 0.5rem 0 0.5rem 1rem;
      color: #000;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        color: #007bff;
      }
    }
  }
}

.SelectWrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.TilesSelect {
  display: block;
  cursor: pointer;

  option {
    display: block;
    padding: 0.5rem;
  }
}
